<hr class="header_space"/>

<div id="home_header_img"></div>

<hr class="header_space"/>

<p><strong>iMet is a physical-to-digital gateway</strong>
	<br/>to help you bridge the gap between meeting
	people and building relationships.</p>

<p>This app is a proof of concept, but if you're interested in
	learning more, you should <a href="http://twitter.com/billw"> message me on Twitter</a> or <a href="https://github.com/williamw/imet">clone on Github</a>.
	
<div id="footer">
	<small>A project by <a href="http://welense.com/">Bill Welense</a>
		<br/><a href="/acknowledgements">Acknowledgements</a></small>
</div>