<h1>Acknowledgements</h1>

<p>This web app would not have been possible without the following resources: </p>
<ul>
	<li>The incredibly active <br/>
		<a href="http://rubyonrails.org/">Ruby on Rails community</a></li>
	<li>Mark Pilgrim's most excellent <br/>
		<a href="http://diveintohtml5.org/geolocation.html">Dive Into HTML 5</a></li>
	<li>Jason Zimdar's blog post on <br/>
		<a href="http://signalvnoise.com/posts/2609-customizing-web-forms-with-css3-and-webkit">CSS3 Web Forms</a></li>
	<li>Walt Grayson's blog post on <br/>
		<a href="http://blog.iwalt.com/2010/06/targeting-the-iphone-4-retina-display-with-css3-media-queries.html">Targeting the Retina Display</a></li>
	<li>David Kaneda and Jonathan Stark's 
		<a href="http://www.jqtouch.com/">JQTouch</a></li>
</ul>

<div id="footer">
	<p><a href="javascript: window.history.go(-1)">Back</a></p>
</div>