<div id="thanks_header_img"></div>

<p>Thanks for collaborating with me in this experiment.
	I look forward to connecting with you down the road.</p>

<p>Feel free to get a hold of me any time.</p>

<p>-Bill</p>

<h3>Find me on the web at:</h3>
<ul class="rounded">
    <li><a href="http://twitter.com/welense">Twitter</a></li>
	<li><a href="http://facebook.com/billw">Facebook</a></li>
	<li><a href="http://www.linkedin.com/in/welense">LinkedIn</a></li>
	<li><a href="http://www.flickr.com/photos/williamw83">Flickr</a></li>
	<li><a href="http://acrosstheline.net/">My Blog</a></li>
</ul>

<ul class="rounded">
	<li class="arrow"><a href="/acknowledgements">Acknowledgements</a></li>
</ul>





